.Header
  position: relative
  padding-top: 2em
  padding-bottom: 2em
  &__container
    position: relative
  &__row
    display: flex
    align-items: center
  &__logo
    position: relative
    display: inline-flex
    text-decoration: none
    padding: 0.25em .5em
    &:hover
      text-decoration: none
  &__navigation
    flex-grow: 1
    margin-left: 2em
